{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'login/login.css' %}">
{% endblock %}

{% block content %}
<div>
    <h1>Ready to start borrowing and lending with us? <i class="bi bi-dribbble"></i></h1>
</div>
{% load socialaccount %}
<h2>Sign up or login with Google to get started!</h2>
<form action="{% provider_login_url 'google' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sign up or login <i class="bi bi-google"></i></i></button>
</form>

{% if user.is_authenticated %}
<p>You are signed in as {{user.email}}</p>
<a href="/login/logout">Logout</a>
{% endif %}
{% endblock content %}